.App {
  text-align: center;
}


/* Home.js */

.Home-main-cont {
  display: flex;
  justify-content: center;
  z-index: -1;
}

.Home-inner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.Home-picture-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url();
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
  width: 100%;
}

.Home-bodyPic {
  width: 100%;
}

.Home-picText-container {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Lato', sans-serif;
}

.Home-header {
  font-weight: 300;
  font-size: 56px;
  color: white;
  word-spacing: 8px;
  letter-spacing: 2px;
  text-align: center;
  width: 580px;
  margin-top: 130px;
}

.Home-white-hr {
  border: 1px solid white;
  width: 120px;
  margin-top: 0;
}

.Home-studioName {
  font-weight: 300;
  font-size: 24px;
  letter-spacing: 1px;
  text-align: center;
  color: white;
}

.Home-callBack-btn {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: white;
  text-align: center;
  padding: 20px 40px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.31);
  outline: none;
  margin: 60px;
}

.Home-callBack-btn:hover {
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
}


